{% extends 'admin/common/layout.twig' %}

{% block content %}
    <div class="wrapper">
        {% block header %}
            {% include 'admin/common/header.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'admin/common/sidebar.twig' %}
        {% endblock %}

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
          {% block pageTitle %}{% endblock %}
          </h1>
          <ol class="breadcrumb">
          {% block breadcrumb %}{% endblock %}
          </ol>
        </section>

        <section class="content">
        {% block body %}
		{% endblock %}
        </section>
      </div>

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
        {% block footerRight %}
        {% endblock %}
        </div>
        {% block footerLeft %}{% endblock %}
      </footer>
    </div>
{% endblock content %}